.dropdown-content-wrapper.hidden {
    display: none;
}

.dropdown-content-wrapper {
    position: absolute;
    right: 80px;
    width: 200px;
    margin: 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 8px 12px 4px lightgrey;
    z-index: 5;
    transition: 0.3s;
}

.dropdown-content-item {
    display: flex;
    height: 3rem;
    padding: 0 10px;
    align-items: center;
    border-bottom: 1px lightgrey solid;

    color: purple;
    font-weight: 700;
}
.dropdown-content-icon {
    margin-right: 10px;
    color: purple;
}

.dropdown-content-item:hover {
    cursor: pointer;
    background-color: rgb(223, 198, 255);
}
.dropdown-content-item:first-child:hover {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.dropdown-content-item:last-child:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dropdown-btn {
    color: white;
    background-color: var(--primary-button);
    transition: 0.3s;
}

.dropdown-btn:hover {
    transition: 0.3s;
}