.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4rem;
    height: 2rem;
    margin: 0 1rem;

    border: none;
    border-radius: 4px;
    font-weight: 700;
    transition: 0.3s;
}

.alert-btn {
    background-color: var(--alert);
    color: white;
}

.message-btn, .form-btn {
    color: white;
    background-color: var(--primary-button);
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.2); 
    box-shadow: 5px 5px 5px lightgray;
    transition: 0.3s;
}

.active {
    transform: scale(1.2); 
    box-shadow: 5px 5px 5px lightgray;
}

.delete {
    background-color: var(--negative);
    transition: 0.3s;
}

.delete:hover {
    transition: 0.3s;
}

.add {
    background-color: var(--positive);
    transition: 0.3s;
}

.add:hover {
    transition: 0.3s;
}

.edit {
    background-color: var(--primary-button);
    transition: 0.3s;
}

.edit:hover {
    transition: 0.3s;  
}

.btn-icon {
    margin-right: 0.5rem;
    padding-top: 3px;
}

.btn-text {
    width: max-content;
}

.google-btn {
    background-color: white;
    border: 1px lightgray solid;
    color: var(--primary-button);
}