label {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }
  
  .txtbx {
    border: none;
    outline: none;
    height: 2rem;
    padding-bottom: 3px;
    width: 100%;
  }
  
  .txtbx+span {
    display: block;
    border-bottom: solid 1px lightgray;
    width: 0;
    -webkit-transition: width 250ms ease-in-out;
    transition: width 250ms ease-in-out;
  }
  
  .txtbx:hover+span {
    width: 110%;
    /*  used calc first, but won't work on Edge  */
    -webkit-transition: width 250ms ease-in-out;
    transition: width 250ms ease-in-out;
  }

  .txtbx:focus+span {
    width: 110%;
    /*  used calc first, but won't work on Edge  */
    -webkit-transition: width 250ms ease-in-out;
    transition: width 250ms ease-in-out;
  }