.App {
  text-align: center;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

@keyframes slidedown {
  0% {
    height: 0;
    transform:scaleY(0%);
  }
  100% {
    height: 100%;
    transform: scaleY(100%);
  }
}

.slideDown {  
  animation: 0.5s ease-out 0s 1 slidedown;
}

:root {
  --primary-button: rgb(0, 102, 255);
  --negative: red;
  --positive: rgb(2, 172, 2);
}
/* AG-Grid */
.ag-root-wrapper-body.ag-layout-normal.ag-focus-managed {
  height: 650px
}

.ag-theme-alpine {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
}