@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.App {
  text-align: center;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

@keyframes slidedown {
  0% {
    height: 0;
    transform:scaleY(0%);
  }
  100% {
    height: 100%;
    transform: scaleY(100%);
  }
}

.slideDown {  
  animation: 0.5s ease-out 0s 1 slidedown;
}

.main-header-icon {
  padding-top: 9px;
  margin-right: 1rem;
  font-size: 2.5rem;
}

.main-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 4px var(--primary-button) double;
  border-bottom: 4px var(--primary-button) double;
  margin-bottom: 2rem;
  margin-top: 1.5rem;

  font-size: 40px;
  font-weight: 600;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 5px;

  transition: 0.3s ease-out;
}

.modal {
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

.hidden {
  display: none;
}

:root {
  --primary-button: rgba(119, 0, 255, 0.753);
  --negative: red;
  --positive: rgb(2, 172, 2);
  --alert: rgb(255, 145, 0);
  --cell-hover: rgba(244, 232, 255, 0.979);
  --cell-selected:rgba(225, 196, 252, 0.979);
}


/* AG-Grid */
.table-wrapper {
  width: 90%;
  margin: 0 auto;
}
.ag-theme-custom-react {
  @include ag-theme-alpine((
    row-border-color: transparent,
    row-hover-color: var(--cell-hover),
    selected-row-background-color: var(--cell-selected),
    checkbox-checked-color: var(--primary-button),
    checkbox-indeterminate-color: var(--primary-button),
    input-focus-box-shadow: null,
    header-background-color: var(--cell-hover),
    header-height: 45px,
  ));
  .ag-root-wrapper-body.ag-layout-normal {
    height: 650px;
  }

  .ag-checkbox-input-wrapper {
    font-size: 18px !important;
    height: 16px;
    width: 17px;
  }

  .ag-root-wrapper {
    border-radius: 8px;
  }

  .ag-header-cell {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
  }

}
