.inventory-header-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
    justify-content: flex-start;
}

.hidden {
    display: none;
    height: 0;
}

.inventory-btn-wrapper {
    margin: 3rem 5rem 0 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

