.sign-in-sign-up-form {
    display: flex;
    flex-direction: column;
}

.sign-in-sign-up-link-wrapper {
    margin-top: 3rem;
}

.sign-in-sign-up-link {
    margin: 1rem;
    text-decoration: none;
    color: var(--primary-button);
    transition: 0.3s;
}

.sign-in-sign-up-link:hover {
    font-size: 18px;
    transition: 0.3s;
}